/*
==============================================
portfolio
=============================================
*/
#portfolio .vertical-heading {
    margin-bottom: 5rem;
}

.row.no-gutters [class*=col-] {
    padding: 0;
}

/* filters CSS */
#isotope-filters {
    margin-bottom: 1rem;
    padding: 2rem 2.5rem 2rem 0;

    @media only screen and (max-width: $bp-medium) {
        text-align: center;
      }
}

#isotope-filters button {
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    box-shadow: none;
    padding-right: 3.5rem;
    outline: 0;
}

#isotope-filters button span {
    display: block;
    padding-bottom: 5rem;
    transition: border-color .4s ease-in-out;
    -webkit-transition: border-color .4s ease-in-out;
    -moz-transition: border-color .4s ease-in-out;
    -ms-transition: border-color .4s ease-in-out;
    -o-transition: border-color .4s ease-in-out;
}

#isotope-filters button.active span {
    color: var(--color-secondary);
    border-bottom: 3px solid var(--color-secondary);
}

/* Zoom Effect */
.portfolio-item {
    overflow: hidden;
    position: relative;
}

.portfolio-item img {
    width: 100%;
    height: 40rem;
    transition: transform .5s ease;
    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
}

.portfolio-item:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* overlay effect */
.portfolio-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(14, 14, 17, .9);
    cursor: zoom-in;
    opacity: 0;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

/* item details effect */
.portfolio-item-details {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all .8s;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.portfolio-item-details h3 {
    color: var(--color-secondary);
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    transform: translateY(-20%);
    transition: all .5s;
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.portfolio-item-details span {
    display: inline-block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: .6rem;
    width: 3rem;
    margin: 1.1rem auto .5rem auto;
}

.portfolio-item-details p {
    font-size: 1.7rem;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    transform: translateY(20%);
    transition: all .5s;
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

/* show overlay on mouse over */
.portfolio-item:hover .portfolio-item-details h3 {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-details p {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-overlay {
    opacity: 1;
}

.img-circle {
    width: 7rem;
    height: 7.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.img-circle-sm {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}