/*
==============================================
pricing 
=============================================
*/
.pricing-table {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    border-radius: 6px;
    padding: 3.2rem 2.1rem;
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;

    &:hover {
        background: var(--color-secondary);
    }

    @media only screen and (max-width: $bp-medium) {
        margin-bottom: 3rem;
      }
}

.pricing-table .type h4 {
    color: var(--color-secondary);
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
}

.pricing-table .price {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 2.4rem 0;
}

.pricing-table .price h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 4.2rem;
    font-weight: 100;
    margin: 0 0 0 2.4rem;
    position: relative;

    &:span {
        font-family: "Raleway", sans-serif;
    }
}


.pricing-table .price h2 span.dollar {
    font-size: 1.8rem;
    font-weight: 300;
    position: absolute;
    left: -2rem;
    top: .5rem;
}

.pricing-table .price h2 span.month {
    font-size: 1.1rem;
    font-weight: 400;
    position: absolute;
    left: .5rem;
    bottom: -1.2rem;
}

.pricing-table .price p {
    line-height: normal;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.pricing-table ul.package {
    list-style: none;
    padding: 2rem 0;
}

.pricing-table ul.package li {
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 4rem;
}

.pricing-table ul.package li i {
    width: 2.4rem;
}

.pricing-table .btn-secondary,
.pricing-table.black .btn-white {
    width: 96%;
}


.pricing-table:hover h4,
.pricing-table:hover h2,
.pricing-table:hover p,
.pricing-table:hover ul.package {
    color: #fff;
}

.pricing-table:hover .btn-secondary {
    background: #fff;
    color: #212226;
    border: 1px solid #fff;
}

.pricing-table .btn-secondary:hover,
.pricing-table .btn-secondary:focus {
    background: #212226;
    color: #fff;
    border: 1px solid #212226;
}

/* black pricing table */
.pricing-table.black {
    background: #212226;
    color: #fff;
}

.pricing-table.black .type h4 {
    color: #fff;
}

.pricing-table.black:hover {
    background: var(--color-secondary);
}