/*
==============================================
stats
=============================================
*/


#stats .content-box-md {
    background: var(--color-primary-dark);
}

.vertical-heading {
    margin-bottom: 50px;
}

#stats .vertical-heading h2 {
    color: #fff;
}

.stats-item {
    background: var(--color-primary-light);
    border-radius: 4px;
    min-height: 17rem;
    padding: 2.5rem 5rem;
    transition: all .4s linear;

    @media only screen and (max-width: $bp-medium) {
        margin-bottom: 20px;
        padding: 25px 5px;
    }
}

.stats-item i {
    font-size: 42px;
    color: #fff;
    margin: 0 0 6px 0;
    transition: all .4s linear;

    @media only screen and (max-width: $bp-medium) {
        font-size: 3rem;
    }
}

.stats-item h3 {
    font-size: 32px;
    color: #fff;
    margin: 5px 0 5px 0;

    @media only screen and (max-width: $bp-medium) {
        font-size: 2.7rem;
    }
}

.stats-item p {
    color: #fff;
    margin: 0;
}

.stats-item:hover {
    background: var(--color-primary-light);
}

.stats-item:hover i {
    transform: translateY(-12px);
    color: #fff;
}