h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.52rem;
    font-weight: 400;
    line-height: 2.4rem;

    @media only screen and (max-width: $bp-large) {
        font-size: 1.5rem;
    }
}

/*
==============================================
HEADINGS
=============================================
*/
.vertical-heading h5 {
    color: var(--color-primary);
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 9px;
    display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    top: 6rem;
    left: -5.3rem;

    @media only screen and (max-width: $bp-medium) {
        font-size: 1.3rem;
    }

    @media only screen and(max-width:$bp-small) {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        display: block;
        position: static;
        text-align: center;
    }
}

.vertical-heading h2 {
    margin: 0 0 0 3.5rem;

    @media only screen and(max-width: $bp-small) {
        margin: 0;
    }

}

.vertical-heading h2 span {
    color: var(--color-primary);
}

.horizontal-heading h2,
.vertical-heading h2 {
    font-size: 4.2rem;
    font-weight: 100;
    line-height: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
        font-size: 3.6rem;
        line-height: 3.5rem;
    }


    @media only screen and (max-width: $bp-small) {
        font-size: 3rem;
        text-align: center;
    }
}

.horizontal-heading {
    margin-bottom: 80px;
}

.horizontal-heading h5 {
    font-size: 16px;
    color: var(--color-primary);
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
}

.horizontal-heading h2 {
    margin: 0;
}


/*
==============================================
team
=============================================
*/
.team-left .vertical-heading {
    min-height: 160px;
}

#team-student {
    margin: 8px;
    position: relative;
}

.team-student {

    &-overlay {
        background-color: rgba(33, 34, 38, .9);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        opacity: 0;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;

        &:hover {
            opacity: 1;
        }
    }

    &-info {
        width: 100%;
        height: 100%;
        padding: 80px 0;

        & h6 {
            color: var(--color-primary);
            font-size: 16px;
            margin: 0;
        }

        & p {
            color: #fff;
        }
    }

}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    font-size: 2.5rem;
    width: 4rem;
    height: 4rem;
    background-color: var(--color-grey-dark-1);
    text-align: center;
    color: #fff;
    line-height: 4rem;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel button.owl-dot {
    background-color: var(--color-grey-dark-1);
}

.footer-nav {
    list-style: none;
    font-size: 1.4rem;
    color: #aaa;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-nav__link:link,
.footer-nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: inline-block;
    transition: all .2s;
}

.footer-nav__link:hover,
.footer-nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px);
}

.copyright {
    font-size: 1.4rem;
    color: #aaa;
    margin-top: 6rem;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


/*
==============================================
statements
=============================================
*/
.statement {
    background-image: url(../images/home/statement/statement-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.statement-pricing {
    background-image: url(../images/threading/statement/statement-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;


}

.statement-pricing .content-box-lg{
    padding: 15rem 0;
    background-color: rgba(0,0,0,.6);
}

.statement .content-box-lg {
    padding: 15rem 0;
}

#tech-statement h3 {
    color: #fff;
    font-size: 2.8rem;
    line-height: 4.5rem;
}

#tech-statement p {
    font-size: 1.4rem;
    color: #f4c613;
    font-family: "Raleway", sans-serif;
    margin-top: .8rem;
}

.white{
    color:#fff;
}